body {
    margin: 0;
    padding: 0;
    background-color: #eee;
    font-family: "Edu AU VIC WA NT Hand", regular;
    font-weight: bold;
}

button {
    font-family: "Edu AU VIC WA NT Hand", regular;
    font-weight: bold;
}

/* nav {
    width: 100%;
    display: flex;
    place-items: center;
    background-color: #f974fc;

} 

.nav-logo {
    display: flex; */
    /* place-items: center; 
    padding: 0;
    margin: 0;
}

.nav-logo a {
    text-decoration: none;
    color: white;
    font-size: 24pt;
}

.nav-logo img{
    height: 70px;
    position: initial;
}

.nav-buttons {
    width: 100%;
    text-align: right;
}

.nav-buttons p {
    color: white;
    display: inline;
}

.nav-buttons a {
    color: white;
    padding: 0 4px;
    text-decoration: none;
}

.nav-buttons a:hover {
    color: aqua;
    cursor: pointer;
}
*/

nav {
    background-color: #f590e2;
}

.card-container {
    margin-top: 5rem;
    gap: 1rem;
    flex-direction: row;
    justify-content: center;
    display: flex;
    width: 100%;
}

.card {
    box-shadow: #000;
    border-radius: 24px;
    background-color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    place-items: center;
    width: 300px;
}

.card img {
    height: 250px;
    object-fit: contain;
}

.card a {
    width: 100%;
}

.card button {
    margin-top: 1rem;
    color: white;
    font-size: 18pt;
    background-color: #f590e2;
    width: 100%;
    padding: 24px;
    border: none;
    border-radius: 16px;
    transition: 0.3s;
}

.card button:hover {
    background-color: #f423a6;
}

.titulo {
    display: flex;
    place-content: center;
    margin-top: 2rem;
    font-size: 2rem;
}

.btn {
    margin-top: 1rem;
    color: white;
    font-size: 12pt;
    background-color: #f590e2;
    width: 30%;
    padding: 12px;
    border: none;
    border-radius: 16px;
    transition: 0.3s;
}

.btn:hover{
    background-color: #f423a6;
}

.btns {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.btns button{
    background-color: #f590e2;
}