body {
    margin: 0;
    padding: 0;
    background-color: #eee;
    font-family: "Edu AU VIC WA NT Hand", regular;
    font-weight: bold;
}

button {
    font-family: "Edu AU VIC WA NT Hand", regular;
    font-weight: bold;
}

nav {
    width: 100%;
    display: flex;
    place-items: center;
    background-color: #f974fc;

}

.nav-logo {
    display: flex;
    place-items: center;
    padding: 0;
    margin: 0;
}

.nav-logo a {
    text-decoration: none;
    color: white;
    font-size: 24pt;
}

.nav-logo img{
    height: 70px;
    position: initial;
}

.nav-buttons {
    width: 100%;
    text-align: center;
}

.nav-buttons p {
    color: white;
    display: inline;
}

.nav-buttons a {
    color: white;
    padding: 0 4px;
    text-decoration: none;
}

.nav-buttons a:hover {
    color: aqua;
    cursor: pointer;
}

.card-container {
    margin-top: 200px;
    gap: 1rem;
    flex-direction: row;
    justify-content: center;
    display: flex;
    width: 100%;
}

.card {
    box-shadow: #000;
    border-radius: 24px;
    background-color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    place-items: center;
    width: 300px;
}

.card img {
    height: 250px;
    object-fit: contain;
}

.card a {
    width: 100%;
}

.card button {
    margin-top: 1rem;
    color: white;
    font-size: 18pt;
    background-color: #f974fc;
    width: 100%;
    padding: 24px;
    border: none;
    border-radius: 16px;
}